*
{
    box-sizing: border-box;
}
.logo
{
    background-color: #001d35;
    color: white;
}
.header-f
{
    background-color: #001d35;
}
a
{
    color: white;
}
.button-1
{
    height: 30%;
    width: 20%;
}
.home-1
{
    background-color: #e8e7e7;
}


.port
{
    background-color: #001d35;
    color: honeydew;
    padding-left: 40px;
}
/*.home-1*/
/*{*/
/*   background-color: #e0dddb;*/
/*}*/

.dream-img
{
    width: 260px;
    height: 200px;
    box-shadow: 8px 8px 8px gray;
    border-radius:7px;
    text-align: center;
    padding: 10px;
    padding-top: 30px;
}


.h1-1
{
    color: #001d35;

}

.footer
{
    background-color: #001d35;
    color: white;
}

.lin-2
{
    color: black;
}

.about-img
{
    width: 360px;
    height: 250px;
    box-shadow: 8px 8px 8px gray;
    border-radius:7px;
    padding-left: 30px;
}

.about-p{
   padding-left: 40px;
}

.about-p2 {
    padding-left: 20px;
}

.about-img2 {
    width: 300px;
    height: 320px;
    box-shadow: 8px 8px 8px gray;
    border-radius:7px;
    padding-left: 30px;
}

.gallery-img
{
    width: 260px;
    height: 200px;
    box-shadow: 8px 8px 8px gray;
    border-radius:7px;
    text-align: center;
    padding: 10px;
    padding-top: 30px;
}

.contact {
    width: 40%;
}

.contact2 {
    width: 60%;
}
.contact-add {

    width: 260px;
    height: 200px;
    box-shadow: 8px 8px 8px gray;
    border-radius:7px;
    text-align: center;
    padding: 10px;
}

.contact-add2 {

    width: 260px;
    height: 200px;
    box-shadow: 8px 8px 8px gray;
    border-radius:7px;
    text-align: center;
    padding: 10px;
    padding-left: 30px;
}